version: 2
jobs:
  build-react:
    docker:
      # specify the version you desire here
      - image: circleci/node:13.6-stretch-browsers-legacy
    working_directory: ~/github.com/hashicorpdemoapp/frontend

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn build

      - persist_to_workspace:
          root: ~/github.com/hashicorpdemoapp
          paths:
            - frontend

  publish-docker-release:
    docker:
      - image: circleci/golang:1.13
    environment:
      GO111MODULE: "on"
    working_directory: ~/github.com/hashicorpdemoapp/frontend
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: ~/github.com/hashicorpdemoapp
      - run:
          name: "Push Container to Docker"
          command: echo "push to docker"
  
  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    working_directory: ~/github.com/hashicorpdemoapp/frontend
    steps:
      - attach_workspace:
          at: ~/github.com/hashicorpdemoapp
      - run:
          name: "Publish Release on GitHub"
          command: echo "publish release to GitHub"

workflows:
  version: 2
  build-and-release:
    jobs:
      - build-react:
          filters:
            tags:
              only: /.*/
      - publish-docker-release:
          requires:
            - build-react
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish-github-release:
          requires:
            - build-react
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
